<div class='sidebar'>
    <div class='close' *ngIf='!!back'><a [routerLink]='back'  queryParamsHandling='merge'></a></div>
    <ng-content *ngIf='init'></ng-content>
    <ng-container *ngIf='!init'>
        <div class='loading small'></div>
        <div class='loading large'></div>
        <div class='loading large'></div>
    </ng-container>
</div>
<div class='window' [class.interactive]='!!back' (click)='goBack()'>
    <div class='handle' *ngIf='!back' [class.opened]='stateSvc.sidebarOpened' (click)='stateSvc.sidebarOpened = !stateSvc.sidebarOpened'></div>
    <div class='widgets'>
        <div class='column'>
            <!-- <app-search></app-search> -->
            <div></div>
            <ng-container *ngIf='state_ && state_.legend'>
                <div></div>
                <app-legend [legend]='state_.legend'></app-legend>
            </ng-container>    
        </div>
        <div class='row'>
            <ng-container *ngIf='stateSvc.treeLegend && state_.isLayerVisible("trees")'>
                <div></div>
                <app-tree-legend [legend]='stateSvc.treeLegend'></app-tree-legend>
            </ng-container>    
        </div>
    </div>    
</div>
