<div class='content' *ngIf='record'>
    <h1>{{ nameOfRegion }}</h1>
    <div class='icon-infos'>
        <div class='icon-info' *ngFor='let iconInfo of iconInfos'>
            <div class='icon' [style.backgroundImage]='"url(assets/img/icon-" + iconInfo.icon + ".svg)"'></div>
            <div class='text'>
                <h2 class='tooltip' [matTooltip]='iconInfo.tooltip' *ngIf='iconInfo.tooltip'>{{iconInfo.text}}</h2>
                <h2 *ngIf='!iconInfo.tooltip'>{{iconInfo.text}}</h2>
                <div class='value'>
                    <span class='number'>{{iconInfo.value}}</span>
                    <span class='units'>{{iconInfo.units}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class='sources section'>
        <h2 class='tooltip' [matTooltip]='"התערבות: שינוי שיעור כיסוי הצומח"'>התערבות: שינוי שיעור כיסוי הצומח</h2>
    </div>
    
    <div class='icon-infos' style="flex-flow: row wrap;">
        <div class='icon-info' *ngFor='let iconInfo of iconInfos2'>
            <div class='icon' [style.backgroundImage]='"url(assets/img/icon-" + iconInfo.icon + ".svg)"'></div>
            <div class='text'>
                <h2 class='tooltip' [matTooltip]='iconInfo.tooltip' *ngIf='iconInfo.tooltip'>{{iconInfo.text}}</h2>
                <h2 *ngIf='!iconInfo.tooltip'>{{iconInfo.text}}</h2>
                <div class='value'>
                    <span class='number'>{{iconInfo.value}}</span>
                    <span class='units'>{{iconInfo.units}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="slider" dir="ltr">
        <mat-slider min="0" max="50" step="5" showTickMarks discrete [displayWith]="formatLabel">
            <input matSliderThumb  (dragEnd)="onDragEnd($event)">
        </mat-slider>
    </div>
    <hr/>

    <div class='icon-infos'>
        <div class='icon-info' *ngFor='let iconInfo of iconInfos3'>
            <div class='icon' [style.backgroundImage]='"url(assets/img/icon-" + iconInfo.icon + ".svg)"'></div>
            <div class='text'>
                <h2 class='tooltip' [matTooltip]='iconInfo.tooltip' *ngIf='iconInfo.tooltip'>{{iconInfo.text}}</h2>
                <h2 *ngIf='!iconInfo.tooltip'>{{iconInfo.text}}</h2>
                <div class='value'>
                    <span class='number'>{{iconInfo.value}}</span>
                    <span class='units'>{{iconInfo.units}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
