<a href='#' aria-label='מעבר לעמוד הבית' class='logo-container'>
    <div class='logo1'>TEST1</div>
    <div class='separator'></div>
    <h1>תכנון דיגיטלי לקידום חוסן עירוני והערכות לשינוי אקלים</h1>
</a>
<div class='links'>
    <a href='#'>מתודולוגיה</a>
    <a href='#' >צור קשר</a>
    <a href='#'>אודות</a>
</div>
<a href='https://www.biu.ac.il/' aria-label='אתר אוניברסיטת בר אילן - מעבר לאתר חיצוני' class='barilan-logo'></a>
<a href='https://www.hasadna.org.il' aria-label='אתר הסדנא לידע ציבורי - מעבר לאתר חיצוני' class='pkw-logo'></a>