<div class='content' *ngIf='state'>
    <!-- <h1 *ngIf='name'>{{name}}</h1> -->
    <div *ngIf='state.mode=="munis" || state.mode=="stat-areas"' class='c1'>
        <h1 class='c2'>תכנון דיגיטלי לקידום חוסן עירוני והערכות לשינויי אקלים</h1>
        <div class='c3_regular'>
            <div class='c3_bold'>כדי לתעדף השקעה בתשתיות ירוקות,</div><br/>
            <span>לרשותכם המידע: טמפרטורת פני השטח,</span><br/>
            <span>כיסוי צומח, אשכול חברתי כלכלי, מצב</span><br/>
            <span>ההצללה הקיים סביב שירותי בריאות, חינוך</span><br/>
            <span>ותחנות אוטובוס (ציון משוכלל), ופשטי הצפה.</span><br/>
            <span></span><br/>
            <div class='c3_bold c3_green' >בואו לשנות את פני העיר לעתיד ירוק יותר</div><br/>
            <span>הזיזו את הסליידר וראו כיצד כיסוי העיר בעצים</span><br/>
            <span>וצל משנה את העתיד</span><br/>
            <span></span><br/>
        </div>
    </div>
    <ng-content></ng-content>
    <div class='charts'>
        <div class='chart' *ngFor='let chart of state.charts'>
            <h2>{{chart.title}}</h2>
            <div class='chart-container' #chart></div>
        </div>
    </div>
</div>
